@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Tags */
body {
  @apply bg-off_white;
  @apply text-sm sm:text-base;
}

button {
  @apply py-2 px-5 rounded-full focus:outline-none border-[1px] 
  bg-teal-500 transition font-semibold text-off_white hover:bg-white hover:text-black border-teal-500;
}

/* Components */
.authField {
  @apply py-2 px-5 rounded-full focus:outline-none border-[1px] hover:border-teal-500 transition;
}

/* Typography */
.text-heading {
  @apply text-2xl sm:text-3xl font-bold
}

.text-small {
  @apply text-xs sm:text-base;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
